@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Global*/
body {
    margin: 0;
    padding: 0;
    font-family: "Libre Franklin", sans-serif;
    box-sizing: border-box;
}

/* Header */
header {
    position: relative;
    padding: 50px;
    background-color: rgb(25, 25, 25);
    z-index: 2;
    border-bottom: 1px solid antiquewhite;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

#logo {
    font-family: "Libre Franklin", sans-serif;
    font-size: 1.6rem;
    color: antiquewhite;
    font-weight: 350;
    font-style: normal;
    font-optical-sizing: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    font-size: 1rem;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 150;
    font-style: normal;
}

nav ul li a.active {         
    font-weight: 250; 
    color: rgb(255, 61, 61);
}              

nav ul li a:hover {
    font-weight: 250; 
    color: rgb(255, 61, 61);
}

#social-icons a {
    margin-left: 5px;
    color: antiquewhite;
    font-size: 1.1rem;
}

main {
    position: relative;
    z-index: 1;
    min-height: 75vh; 
}

footer {
    position: relative; 
    z-index: 2;  
    height: 75px;
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid antiquewhite;  
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin-left: 10px;
    color: antiquewhite;
    font-size: 1.1rem;
}